.team-member {
    margin-bottom: 3rem;
    text-align: center;

    img {
        width: 14rem;
        height: 14rem;
        border: 0.5rem solid fade-out(black, 0.90)
    }

    h4 {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }

    
}

.gray{
    border-top: 1px solid rgba($color: #000000, $alpha: 0.5);
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
}

.times{
    font-family: "Times New Roman" !important;
    letter-spacing: 2px !important;
    color: black; 
}

.container acerca{
    height: 500px;
}