
body {
    background:radial-gradient( #CAD7E9 , rgb(198, 221, 255));
}

//Personalización del home 
.container, h1 home {
    font-family: "Times New Roman";
    letter-spacing: 2px;
    color: black; 
}
